@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
        <p>Request ID:</p> <code>@Model.RequestId</code>
}

<h3>@Model.Error</h3>
@if(System.Text.RegularExpressions.Regex.IsMatch(Model.Error,@"\bvpn\b",System.Text.RegularExpressions.RegexOptions.IgnoreCase))
{
    <p>You need a VPN connection to actively use this website.</p>
}
else {
    <p>An error occured make sure you typed your credentials correctly.</p>
}
