@page
@model IndexModel
@{
    ViewData["Title"] = "Steam-inspired gaming platform";
}

<div class="text-center">
    <h1 class="display-4">Steam-inspired gaming platform</h1>
    <h2>Every gamer's favourite place</h2>
</div>
