@page "/"
@model WebApplication.Pages.LoginModel
@{
    ViewData["Title"] = "Steam-inspired gaming platform";
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <partial name = "_ValidationScriptsPartial" />
}

<div id="Welcome">
    <h2 class="display-4">Welcome to Steam-inspired gaming platform</h2>
</div>

<div id="Form">
    <form method="post">
        <label asp-for="User.Username">Name:</label>
        <span asp-validation-for="User.Username"></span>
        <input type="text" asp-for="User.Username" value=""/>

        <label asp-for="User.Password">Password:</label>
        <span asp-validation-for="User.Password"></span>
        <input type="password" asp-for="User.Password" value="" />

        <div>
            <input id="SubmitBtn" type="submit" value="Login" />
        </div>
    </form>
</div>