@page
@model WebApplication.Pages.ProfileModel
@{
    	ViewData["Title"]="My profile";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center text-white">
    <h1 class="display-4">@WebApplication.User.Name</h1>
    <p class="lead">@WebApplication.User.Description</p>
  </div>
</div>

