@page
@model WebApplication.Pages.ProfileModel
@{
    	ViewData["Title"]="My profile";
}

  <div>
    
    <h1 class="display-4">
        <img src=~/DefaultImage.png alt="profile pic" />
         @WebApplication.User.Name</h1>
    <p class="lead">@WebApplication.User.Description</p>
</div>

