@page
@model WebApplication.Pages.GamesModel
@{
	ViewData["Title"]="Games managment";
}

<div class="text-center">
    <h2>Want to start a sale? Game not being distributed?</h2>
    <h3>Change game parameters here</h3>
</div>
