#Welcome{
    text-align:center;
}

#Form{
    text-align:center;
}

#SubmitBtn {
    color: black;
    margin-top: 2%;
    background-color: cadetblue;
    border-radius: 25%;
}

#SubmitBtn:hover {
        background-color: lightgrey;
        border-radius: 10%;
        transition-duration: 0.4s;
    }

label {
    color: white;
}

footer{
    text-align:center;
    background-color:transparent;
    color:white;
}

a{
    visibility:hidden;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    visibility:hidden;
}
