html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1,h2,h3{
    color:white;
    text-align:center;
}

h2{
    padding-top:5%;
}

header {
    visibility: visible;
    background-color:whitesmoke;
    color:black;
    top:0;
}

a {
    visibility: visible;
}

body {
    margin-bottom: 60px;
    background-image: url('../img/262656-full-size-4k-gaming-wallpapers-1920x1080-full-hd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

p{
    text-align:center;
    color:white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

li {
    width: 10%;
    text-align: center;
}

li:hover{
    background-color:darkslategrey;
    transition-duration:.1s;
}

li:active{
    background-color:steelblue;
    border-radius:35% 35%;
    transition-duration:.05s;
}

tr{
    color:white;
}

tr:hover{
    background-color:lightslategray;
}

#Link {
    font-size: 20px;
    color:black;
    text-decoration:none;
}

#ReadMore {
    text-decoration:none;
    color:cadetblue;
}

#ReadMore:hover{
    color:grey;
}

.footer {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    position: fixed;
    left:0;
}