html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1,h2,h3{
    color:white;
    text-align:center;
}

h2{
    padding-top:5%;
}

header {
    visibility: visible;
}

a {
    visibility: visible;
}

body {
    margin-bottom: 60px;
    background-image: url('../img/262656-full-size-4k-gaming-wallpapers-1920x1080-full-hd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

p{
    text-align:center;
    color:white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

li {
    width: 10%;
    text-align: center;
}

tr{
    color:white;
}

tr:hover{
    background-color:lightslategray;
}

footer {
    text-align: center;
    background-color: transparent;
    color: white;
}

#Link {
    font-size: 20px;
    color:white;
    text-decoration:none;
}

#ReadMore {
    text-decoration:none;
    color:cadetblue;
}

#ReadMore:hover{
    color:grey;
}